body {
    width: 12rem;
}

h1 {
    font-size: 12px;
}

menu {
    flex-direction: column;
    display: flex;
    gap: 4px;
}

menu li {
    list-style: none;
}

.rich-link-button {
    border-radius: 50%;
    border-color: teal;
    background: silver;
    display: inline-block;
    margin: 0 0.5rem;
}
